/*********************************************************************/
/* La Empresa */
/*********************************************************************/
#laEmpresa{
    padding: 100px 0 60px 0;
}
.itemEmpresa {
    border: 2px solid #fff;
    text-align: center;
}

.itemEmpresa h2 {
    margin-top: 5px;
    margin-bottom: 30px;

}


/*********************************************************************/
/* Servicios */
/*********************************************************************/
#servicios {
    background-color: rgb(229, 56, 59);
    padding: 60px 0;
}

.itemServicios{
    background-color: rgb(229, 56, 59);
    border: 0;
    text-align: center;
    padding: 30px 0;
    color: white;
}

.itemServicios .card-header{
    background-color: rgb(229, 56, 59);
    font-size: 20px;
    border: 0;
}

.itemServicios .fas {
    /* color : white; */
    font-size: 48px;
  }

/*********************************************************************/
/* Carrousel Marcas*/
/*********************************************************************/
#productos{
    /* padding: 100px 0 60px 0; */
    padding: 60px 0;
}

.productos {
    /* background-color: grey; */
    padding: 60px 0;
}

#carousel-marcas img {
    width: 100%;
    /* height: 50%; */
}

.carousel-indicators {
    /* left: 0; */
    /* top: auto; */
    bottom: -70px;

}
.carousel-indicators li {
    background-color: grey;
}

/*********************************************************************/
/* Contacto */
/*********************************************************************/
#contacto {
    /* background-color: rgb(37, 38, 39); */
    padding-top: 60px;
    background-image: url("../img/autos/pexels-kevin-bidwell-2348359.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#contacto h2 {
    color: white;
}

.label-contacto{
    color:white;
}

.mapa{
    /* padding: 60px 0; */
    padding: 60px 0 0 0;
}

.btn-formato{
    background-color: transparent;
    color: #ffc107;
    border: 3px solid;
    font-weight: 900;
}
/*********************************************************************/
/* Footer */
/*********************************************************************/
.footer--formato{
    padding: 60px 0;
    background-color: rgb(37, 38, 39);
}

.footer-icono {
    font-size: 24px;
    color: white;
}

.footer--p--font{
    font-size: 14px;
    margin-bottom: 16px;
    color: white;
}

.footer__h6--font{
    color:white;
    margin: 0;
}

.footer-separador1 {
    margin: 8px 0 8px 0;
    width: 80px;
}

.footer-separador2 {
    margin: 8px 0 8px 0;
    width: 150px;
}

#logo-footer {
    height: 100px;
}

.footer-iconos-redes {
    font-size: 18px;
    color: white;
    margin: 10px;
    transition: all 0.1s;
}

.footer-iconos-redes:hover{
    color: crimson;
    transform: scale(1.3);
    transition: all 0.1s;
}

.buttonFloat {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color:grey;
    color: #fff;
    border-radius: 80px;
    text-align: center;
    font-size: 37px;
    /* box-shadow: 2px 2px 3px #999; */
    z-index: 100;
    
  }

.buttonFloat-icono {
    color: white;
    /* margin: 10px; */
    transition: all 0.3s;
}
  
.buttonFloat-icono:hover{
    /* color: black; */
    transform: scale(1.3);
    transition: all 0.1s;

}
/*********************************************************************/
/* Media queries*/
/*********************************************************************/
/* Minimos */
@media only screen and (min-width: 480px) {
    
}

@media only screen and (min-width: 768px) { 
    .itemServicios{
        font-size: 15px;    
    } 
    
}

@media only screen and (min-width: 1200px) { 
    .itemServicios{
        font-size: 17px;    
    } 
}

/* Maximos */

@media only screen and (max-width: 768px) {
    .footer__h6--font{
        margin-top: 30px;
    }

    #logo-footer {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 992px) { 
    .navbar-brand img#logo {
        /* height: 20%; */
        /* width: 10%; */
        height: 70px;
        transition: all 1s;
    }
}